<div>
  <app-node-list-item
    *ngIf="currentFolder && currentFolder.node.parent && currentFolder.node.absolutePath !== ''"
    [node]="currentFolder.node.parent"
    [loading]="nodeRepositoryLoading || playbackSessionLoading"
    [last]="currentFolder.children.length === 0"
    (click)="onNodeClick($event)"
  />

  <app-node-list-item
    *ngFor="let node of currentFolder.children; last as last"
    [node]="node"
    [loading]="nodeRepositoryLoading || playbackSessionLoading"
    [last]="last"
    (click)="onNodeClick($event)"
    >
    <app-add-to-queue-button
      [file]="node"
    />
  </app-node-list-item>
</div>
