<div>
  <app-node-list-item
    *ngIf="currentFolder.node.parent"
    [id]="currentFolder.node.parent.absolutePath"
    name=".."
    [nodeType]="currentFolder.node.parent.type"
    [defaultIcon]="currentFolder.node.parent.mdIcon"
    [loadingStatus]="loadingStatus"
    [last]="currentFolder.children.length === 0"
    (click)="onNodeClick($event)"
  />

  <app-node-list-item
    *ngFor="let node of currentFolder.children; last as last"
    [id]="node.absolutePath"
    [name]="node.name"
    [nodeType]="node.type"
    [defaultIcon]="node.mdIcon"
    [loadingStatus]="loadingStatus"
    [last]="last"
    (click)="onNodeClick($event)"
    >
    <app-add-to-queue-button
      [file]="node"
    />
  </app-node-list-item>
</div>
