<app-switch-device-menu />

<button mat-mini-fab color="accent"
        class="audio-control-button"
        [disabled]="audioPlayer.playbackDisabled$ | async"
        (click)="backward()"
>
  <mat-icon>replay_30</mat-icon>
</button>
<button mat-fab color="accent"
        class="audio-control-button"
        [disabled]="audioPlayer.previousItemDisabled$ | async"
        (click)="skipPrevious()"
>
  <mat-icon>skip_previous</mat-icon>
</button>

@if(audioPlayer.playing$ | async) {
  <button mat-fab color="primary"
          class="audio-control-button"
          [disabled]="audioPlayer.playbackDisabled$ | async"
          (click)="pause()">
    <mat-icon>pause</mat-icon>
  </button>
} @else {
  <button mat-fab color="primary"
          class="audio-control-button"
          [disabled]="audioPlayer.playbackDisabled$ | async"
          (click)="play()">
    <app-loading-fab-icon class="audio-control-button-icon audio-control-button-icon-fab"
                          [diameter]="24"
                          [loading]="playLoading">
      play_arrow
    </app-loading-fab-icon>
  </button>
}

<button mat-fab color="accent"
        class="audio-control-button"
        [disabled]="audioPlayer.nextItemDisabled$ | async"
        (click)="skipNext()"
>
  <mat-icon>skip_next</mat-icon>
</button>
<button mat-mini-fab color="accent"
        class="audio-control-button"
        [disabled]="audioPlayer.playbackDisabled$ | async"
        (click)="forward()"
>
  <mat-icon>forward_30</mat-icon>
</button>

<app-audio-context-menu />
