<div>
  <app-node-list-item
    *ngFor="let queueItem of queue.items; last as last"
    [id]="queueItem.id"
    [name]="queueItem.name"
    [nodeType]="queueItem.type"
    [defaultIcon]="queueItem.mdIcon"
    [loadingStatus]="loadingStatus"
    [audioPlayerState]="audioPlayerState"
    [disabled]="queueItem.disabled"
    [editing]="editQueueForm.editing && queueItem.itemType === QueueSnapshotItemType.User && !queueItem.isCurrentQueuePosition"
    [last]="last"
    (contentClick)="onNodeClick($event)"
    (selectedChange)="onNodeSelectedChanged($event)"
  >
    <mat-icon
      *ngIf="queueItem.itemType === UserItemType"
      matTooltip="Added by user"
      extra-action-list-content
      class="user-queue-item-icon node-list-item-action-list-context-menu">
      person_add
    </mat-icon>

    <app-add-to-queue-button
      [file]="queueItem.file"
    />

    <app-remove-from-queue-button
      *ngIf="queueItem.itemType === UserItemType && !queueItem.isCurrentQueuePosition"
      [item]="queueItem"
      />

    <app-open-location-button
      [folder]="queueItem.file.parent"
    />
  </app-node-list-item>
</div>
