@if (showForm) {
  <form [formGroup]="form" >
    <mat-button-toggle-group
      class="sort-form-mat-button-toggle-group"
      [formControlName]="sortModeKey"
      aria-label="Sort Mode">
      @for (type of sortModes | keyvalue; track type) {
        <mat-button-toggle
          [value]="type.value"
          [disabled]="disabled"
          (change)="onToggleButtonClicked($event)">
          {{ type.value }}
          @if (type.value === sortMode && descending) {
            <mat-icon>
              arrow_downwards
            </mat-icon>
          }
          @if (type.value === sortMode && !descending) {
            <mat-icon>
              arrow_upwards
            </mat-icon>
          }
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </form>
}
