.page-title {
  overflow: hidden;
  text-overflow: ellipsis;

  flex: 1 1 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .page-title {
    text-align: center;
  }
}

.nav-row {
  display: flex;
  flex-direction: row;
}

.queue-row {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

.spacer {
  flex: 1 1 0%;
  box-sizing: border-box;
}

#file-explorer-toolbar {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.file-explorer-toolbar-buttons {
  flex: 1 1 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .hide-tablet {
    display: none;
  }
}

@media (min-width: 960px) {
  .hide-desktop {
    display: none;
  }
}
