@use 'sass:map';
@use '@angular/material' as mat;
@use './app/components/nodes/node-list/node-list-item/node-list-item.component-theme' as node-list-item-theme;
@use './app/bottom-bar/audio-control/audio-control.component-theme' as audio-control-theme;
@use './app/tracklist-page/tracklist-form/tracklist-form.component-theme' as tracklist-form-theme;
@use 'ngx-toastr/toastr';

@include mat.elevation-classes();
@include mat.app-background();

$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: mat.m2-define-palette(mat.$m2-pink-palette),
    accent: mat.m2-define-palette(mat.$m2-blue-grey-palette),
    warn: mat.m2-define-palette(mat.$m2-red-palette),
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.m2-define-typography-config(),
  density: 0,
));

$light-theme: mat.m2-define-light-theme((
  color: (
    primary:  mat.m2-define-palette(mat.$m2-indigo-palette),
    accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400),
    warn: mat.m2-define-palette(mat.$m2-red-palette),
  )
));

@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes($dark-theme);
@include node-list-item-theme.theme($dark-theme);
@include audio-control-theme.theme($dark-theme);
@include tracklist-form-theme.theme($dark-theme);

@media (prefers-color-scheme: light) {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-colors($light-theme);
  @include node-list-item-theme.theme($light-theme);
  @include audio-control-theme.theme($light-theme);
  @include tracklist-form-theme.theme($light-theme);
}

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

html, body { height: 100%; }
body {
  margin: env(safe-area-inset-top) 0 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-expansion-panel-padding .mat-expansion-panel-content .mat-expansion-panel-body{
  padding: 0 !important;
}


.flex {
  display: flex;
}

.node-list-item-content-text-subtitle {
  font-size: 14px;
  font-weight: lighter;
}

// Apply Material Design surface elevation to toolbars
mat-toolbar {
  background-color: #212121 !important;
  color: rgba(255, 255, 255, 0.87) !important;
}

@media (prefers-color-scheme: light) {
  mat-toolbar {
    background-color: #f5f5f5 !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}

