<button mat-mini-fab color="accent"
        class="audio-control-button"
        [disabled]="disconnected"
        [matMenuTriggerFor]="contextMenu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #contextMenu="matMenu">
  <button mat-menu-item
          matTooltip="Clear session"
          [disabled]="!session"
          (click)="clearSession()"
  >
    <mat-icon>clear_all</mat-icon>
    <span>Clear Session</span>
  </button>

  <button mat-menu-item
          [matMenuTriggerFor]="switchDeviceContextMenu"
          [disabled]="!session || !devices || devices.length === 0"
  >
    <mat-icon>devices</mat-icon>
    <span>Switch Device</span>
  </button>

  <button mat-menu-item
          matTooltip="History"
          [disabled]="disconnected"
          (click)="openHistoryPage()"
  >
    <mat-icon>list</mat-icon>
    <span>History</span>
  </button>

  <button mat-menu-item
          matTooltip="Queue"
          [disabled]="disconnected"
          (click)="openQueuePage()"
  >
    <mat-icon>queue_music</mat-icon>
    <span>Queue</span>
  </button>
</mat-menu>

<mat-menu #switchDeviceContextMenu="matMenu">
  <button mat-menu-item
          *ngFor="let device of devices"
          [disabled]="!session || !device.interactedWith || session.state.deviceId === device.id"
          (click)="requestPlayback(device)"
  >
    <mat-icon>{{ device.icon }}</mat-icon>
    <span>{{ device.displayName }}</span>
  </button>
</mat-menu>
