.form-card {
  width: 40%;
  margin: 10% 0;
}

.form-field-block {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
}

.form-buttons {
  display: flex;
  justify-content: right;
}

.form-header {
  padding-bottom: 10px;
}
