<div
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  [infiniteScrollContainer]="selector"
  [fromRoot]="true"
  (scrolled)="onScrollDown()"
>
  <app-node-list-item
    *ngFor="let session of sessions; last as last"
    [id]="session.currentNode.absolutePath"
    [name]="session.currentNode.name"
    [nodeType]="session.currentNode.type"
    [defaultIcon]="session.currentNode.mdIcon"
    [loadingStatus]="loadingStatus"
    [audioPlayerState]="audioPlayerState"
    [last]="last"
    (click)="onNodeClick($event)"
  >
    <app-add-to-queue-button
      [file]="session.currentNode"
    />

    <app-open-location-button
      [folder]="session.currentNode.parent"
    />
  </app-node-list-item>

  <div class="end-of-history-message-container" *ngIf="!moreItemsAvailable">
    <mat-divider [inset]="true"></mat-divider>
    <h3 class="end-of-history-message">
      End of History
    </h3>
  </div>
</div>
