.audio-control-header-text {
  margin: 0 16px;

  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.audio-control-header-meta {
  //width: 48px;
}

.audio-control-mobile-content {
  margin: 8px 16px;
}

.audio-control-mobile-content-item {
  align-self: center;
}
