<app-expansion-panel
  *ngIf="playbackSession"
  (expanded)="onExpanded($event)"
>
  <div headerText class="audio-control-header-text">
    <div class="session">
      <strong>{{ playbackSession.currentNode.name }}</strong>
    </div>
    <div *ngIf="!expanded">
      Playing on....
    </div>
  </div>

  <div headerMeta class="audio-control-header-meta"
    *ngIf="!expanded">
    <app-switch-device-menu />

    @if(audioPlayer.playing$ | async) {
      <button mat-mini-fab color="primary"
              class="audio-control-button"
              [disabled]="audioPlayer.playbackDisabled$ | async"
              (click)="pause()">
        <mat-icon>pause</mat-icon>
      </button>
    } @else {
      <button mat-mini-fab color="primary"
              class="audio-control-button"
              [disabled]="audioPlayer.playbackDisabled$ | async"
              (click)="play()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    }
  </div>

  @if (!expanded) {
    <mat-progress-bar
      headerFooter
      mode="determinate"
      [value]="audioPlayer.currentTimePercentage$ | async">
    </mat-progress-bar>
  }

  <div content class="audio-control-mobile-content" fxLayout="column">
    <app-audio-progress-slider />
    <app-audio-control-buttons class="audio-control-mobile-content-item" />
  </div>
</app-expansion-panel>
