.nav-bar-spacer {
  flex: 1 1 auto;
}

#content-scroll-container {
  overflow-x: auto;
  overflow-y: auto;

  width: 100%;
  height: 100%;

  background-color: var(--mat-tree-container-background-color);
  color: var(--mat-tree-node-text-color);
}

#file-explorer-toolbar {
  padding: 0;
}

.file-explorer-toolbar-button {
  height: 100%;
}

.app-folder-sort-form {
  padding-right: 16px;
}

.file-explorer-current-folder-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .file-explorer-toolbar-hidden-on-mobile {
    display: none;
  }

  .file-explorer-current-folder-name {
    flex: 1 1 auto;
    text-align: center;
  }

  .app-folder-sort-form {
    flex: 1 1 auto;
    text-align: center;
  }
}

@media (min-width: 600px) {
  .file-explorer-toolbar-hidden-on-desktop {
    display: none;
  }
}
