<div>
  <div #navBar>
    @if (initialized) {
      <app-nav-bar>
      </app-nav-bar>
    }
  </div>

  <div id="content-container" #mainContent>
    @if (initialized) {
      <div id="content-scroll-container" (scroll)="onScroll()" #scrollContainer>
        <router-outlet></router-outlet>
      </div>
    }
  </div>

  <div id="app-bottom-bar" #bottomBar>
    @if (initialized) {
      <app-bottom-bar>
      </app-bottom-bar>
    }
  </div>
</div>

@if (disconnected) {
  <app-spinner-overlay
    [reason]="disconnectedReason"
    />
}
