.audio-progress-slider-slider {
  flex: 1;

  display: flex;
  align-items: center;
}

.audio-progress-slider-thumb {
  z-index: 2;
}

.section-marker {
  display: flex;
  align-items: center;

  &-mark {
    width: 0.15vw;
    height: var(--mdc-slider-active-track-height);
    background-color: var(--mat-toolbar-container-background-color);
    z-index: 1;
  }

  &-part {
    flex: 1;
    z-index: 0;
  }

  &-part.hover {
    height: calc(var(--mdc-slider-active-track-height) * 1.5);
  }

  &-part.non-thumb-hover.inactive {
    background-color: var(--mdc-slider-inactive-track-color);
    opacity: .24;
  }

  &-part.non-thumb-hover.active {
    background-color: var(--mdc-slider-active-track-color);
  }
}

