<mat-icon
  [ngClass]="{
  'mat-list-item-icon': true,
  'node-list-item-container-current-session ': !loading && !disabled && playingState !== FileExplorerPlayingState.None
  }"
  (click)="onEditCheckboxClicked()">

  @if (loading) {
    <mat-spinner color="primary" *ngIf="loading" diameter="20"></mat-spinner>
  } @else if (editing && selectable) {
    <span class="edit-checkbox">
        @if (selected) {
          <span>check_box</span>
        } @else {
          <span>check_box_outline_blank</span>
        }
      </span>
  } @else if (playingState !== FileExplorerPlayingState.None) {
    @if (playingState === FileExplorerPlayingState.Playing) {
      <span>play_arrow</span>
    } @else {
      <span>pause</span>
    }
  } @else {
    <span>{{ defaultIcon }}</span>
  }

</mat-icon>
