/* style.css */
.expansion-panel .panel-header {
  height: 56px;

  display: flex;
  flex-direction: column;

  background-color: var(--mat-toolbar-container-background-color);
  color: var(--mat-tree-node-text-color);
}

/* Adjustments for variable height content */
.expansion-panel .panel-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out; /* Adjust timing as needed */

  background-color: var(--mat-toolbar-container-background-color);
  color: var(--mat-tree-node-text-color);
}

.panel-header-content {
  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: row;
}

.panel-header-content-text {
  flex: 1;
  min-width: 0;
}

.panel-header-content-item {
  align-self: center;
}
