<form *ngIf="session && session.tracklist" [formGroup]="session.tracklist">
  <mat-list>
    @if (session.tracklist.controls.cues.controls.length === 0) {
      <mat-list-item>
        <div matListItemTitle>
          No tracklist available for this session. please add some cues.
        </div>
      </mat-list-item>
    }

    @for (cue of session.cues.controls; track cue.value.cue; let lastCue = $last; let i = $index) {
      <div mat-subheader
           [ngClass]="{ 'cue-active': i === playingCueIndex }"
      >
        <h2>
          {{ cue.value.cue }}
          <app-control-dirty-marker
            [control]="cue"
          ></app-control-dirty-marker>
        </h2>
      </div>
      @for (track of cue.controls.tracks.controls; track track.controls.name; let lastTrack = $last) {
        <mat-list-item class="TracklistForm-track">
          <div matListItemTitle [ngClass]="{ 'cue-active': i === playingCueIndex }">
            {{ track.value.name }}
            <app-control-dirty-marker
              [control]="track.controls.name"
            ></app-control-dirty-marker>
          </div>
          <div matListItemLine [ngClass]="{ 'cue-active': i === playingCueIndex }">
            {{ track.value.artist }}
            <app-control-dirty-marker
              [control]="track.controls.artist"
            ></app-control-dirty-marker>
          </div>
          <div matListItemMeta>
            @for (player of track.controls.players.controls; track player.value.type) {
              @for (playerLink of player.controls.urls.controls; track playerLink.value) {
                <a
                  mat-button
                  [href]="playerLink.value"
                  target="_blank"
                >
                  {{ player.value.type }}
                  <app-control-dirty-marker
                    [control]="playerLink"
                  ></app-control-dirty-marker>
                </a>
              }
            }
          </div>
        </mat-list-item>
        <mat-divider *ngIf="!lastTrack"></mat-divider>
      }
      <mat-divider *ngIf="!lastCue"></mat-divider>
    }
  </mat-list>
</form>
