<div
  [ngClass]="{
    'node-list-item-container': true,
    'node-list-item-container-selectable': !loadingStatus.loading && !isPlayingOrPaused && !editing,
    'node-list-item-container-disabled': loadingStatus.loading || disabled,
    'node-list-item-container-current-session': !loadingStatus.loading && !disabled && isPlayingOrPaused,
  }"
  matRipple
  [matRippleTrigger]="rippleTrigger"
  [matRippleDisabled]="loadingStatus.loading || isPlayingOrPaused || disabled || editing"
>
  <div
    [ngClass]="{
      'node-list-item-content-container': true,
      'node-list-item': true,
      'file-explorer-node-selectable': !loadingStatus.loading && !editing && !isPlayingOrPaused && !disabled,
    }"
    #rippleTrigger
    (click)="onContentClicked()"
  >
    <div class="node-list-item-content-icon-container node-list-item">
      <app-node-list-item-icon
        [loading]="loadingStatus.loading && loadingStatus.loadingIds.includes(id)"
        [playingState]="playingState"
        [disabled]="loadingStatus.loading || disabled"
        [defaultIcon]="defaultIcon"
        [editing]="editing"
        [selectable]="selectable"
        (selectedChange)="onSelectedChange($event)"
        class="node-list-item-content-icon"
      />
    </div>

    <div class="node-list-item-content-text node-list-item">
      {{ name }}
    </div>
  </div>

  <div class="node-list-item-action-list-container node-list-item"
       *ngIf="nodeType === FileExplorerNodeType.File">
    <ng-content select="[extra-action-list-content]"></ng-content>
    <button mat-icon-button
            class="node-list-item-action-list-context-menu"
            *ngIf="!allContextMenuButtonsDisabled"
            [disabled]="loadingStatus.loading || disabled || editing || allContextMenuButtonsDisabled"
            [matMenuTriggerFor]="contextMenu">
      <mat-icon>
        more_vert
      </mat-icon>
    </button>
  </div>
</div>
<mat-divider [inset]="true" *ngIf="!last"></mat-divider>

<mat-menu #contextMenu="matMenu">
  <ng-content></ng-content>
</mat-menu>
