.node-list-item-container {
  display: flex;
  flex-direction: row;

  height: 56px;
}

.node-list-item-container-selectable:hover {
  background-color: rgba(0, 0, 0, 0.15);;
}

.node-list-item-container-disabled {
  color: var(--mat-expansion-header-disabled-state-text-color);
}

.node-list-item {
  align-self: center;
}

.node-list-item-content-container {
  display: inline-flex;
  flex-direction: row;

  flex: 1;
  min-width: 0;
}

.node-list-item-content-icon-container {
  text-align: center;
  margin-left: 16px;
  margin-right: 32px;
}

.node-list-item-content-icon {
  color: rgba(0, 0, 0, 0.38);
}

.node-list-item-content-text {
  width: 100%;
  font-size: 16px;
  font-weight: normal;

  white-space: nowrap;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;

  display: flex;
  flex-direction: column;

  &-title {

  }

  &-subtitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.node-list-item-action-list-container {
  display: inline-flex;
}

.node-list-item-action-list-context-menu {
  align-self: center;
}

.file-explorer-node-selectable {
  cursor: pointer;
}

.node-list-item-content-text-subtitle {

}
